name: Build Android APK
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Generate Gradle Wrapper
        run: |
          gradle wrapper --gradle-version 7.4.2
          chmod +x gradlew
      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: 8BallPool-APK
          path: app/build/outputs/apk/debug/*.apk
